.login-register-container { max-width: 600px; top: 40px; margin: auto; margin-top: 80px; padding: 20px; text-align: center; /* Center align the content */ border: 
  1px solid #ccc; border-radius: 20px; box-shadow: 0 0 30px rgba(201, 57, 57, 0.3);
}

form {
  margin-bottom: 20px;
}

input {
  width: 60%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  display: block; /* Ensures block-level centering */
  margin-left: auto;
  margin-right: auto; /* Center the input horizontally */
}

.login-register-container h1 {
  font-size: 2em; /* Adjust font size as needed */
  color: #EDBD60; /* Specify the color */
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.login-register-container p {
  font-size: 1.2em; /* Adjust font size as needed */
  color: #add8e6; /* Specify the color */
  margin-bottom: 40px; /* Add bottom margin for spacing */
}
.social-buttons {
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.google-button {
  border-radius: 20px;
  background-color: #db4437;
}

.facebook-button {
  border-radius: 20px;
  background-color: #3b5998;
}

.social-button img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.freelancer-button {
  display: block;
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  background-color: #28a745;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto; /* Center the button horizontally */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .login-register-container {
    padding: 10px;
  }

  .input {
    width: 100%;
  }
}

