/* src/components/SearchBar.css */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: transparent;
  transition: all 0.3s ease;
  margin-top: 90px;
  max-width: 40%;
  border-radius: 35px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 30px rgba(201, 57, 57, 0.3);
  z-index: 1000;
  border: 1px solid #ccc;
}

.search-bar input {
  margin-left: 0;
  width: 80%;
  margin-top: 10px;
  max-width: 800px;
  padding: 15px;
  border-radius: 35px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.search-icon {
  background: none;
  width: 12%;
  border-radius: 50%;
  margin: 0;
  margin-left: 0;
  cursor: pointer;
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #E54463; /* Ensure the icon color is set for visibility */
  transition: all 0.3s ease;
}
.search-icon.scrolled {
  font-size: 1em;
}
.search-icon: hover {
  color: red;
}
.search-bar.scrolled {
  height: 60px;
  position: fixed;
  background-color: #FFFFFF;
  margin-top: 5px;
  left: 35%;
  transform: translateX(-50%);
  width: 30%;
  padding: 5px 10px;
  z-index: 1000;
}

.search-bar.scrolled input {
  height: auto;
  padding: 10px;
  width: 80%;
}

.search-bar.expanded {
  height: 60px;
  position: fixed;
  background-color: #FFFFFF;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin-top: 30px;
  padding: 10px;
  z-index: 10000; /* Ensure it's higher than other elements */
}

.search-bar.expanded input {
  border: 1px solid #ccc;
  padding: 10px;
}
.search-icon:hover {
  color: blue; /* Change the color as needed */
}

/* Mobile styles */
@media (max-width: 768px) {
  .search-bar {
    max-width: 90%;
    margin-top: 2px;
    padding: 5px;
  }

  .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .search-icon {
    width: 20%;
    font-size: 1.4em;
  }

  .search-bar.scrolled {
    height: auto;
    left: 50%;
    width: 40%;
  }

  .search-bar.scrolled input {
    width: 80%;
    height: 20px;
  }
  .search-bar.expanded {
    height: auto;
    left: 50%;
    margin-top: 60px;
    width: 80%;
    padding: 5px;
  }
}
